.movieCard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.movieCard {
  width: 30%;
}

a {
  text-decoration: none;
  color: #000;
}

.movieCard {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 450px;
  margin: 30px 20px;
  background: #333;
  border: 1px solid #222;
  border-radius: 5px;
  box-shadow: 0 0 10px #444;
}

.movieCard .img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-size: 310px 440px;
  background-position: left top;
  transition: all 0.4s ease-in-out;
}



.movieCard .title {
  height: 22%;
  width: 100%;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: #FFFC;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -95px 28px -25px #000 inset;
}

.movieCard .text {
  position: absolute;
  bottom: 120px;
  height: 120px;
  padding: 15px 10px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  transform: rotate(90deg);
  transform-origin: 0 100px;
  opacity: 0;
  transition: all 0.5s ease;
}

.movieCard .rating {
  position: absolute;
  left: 10px;
  top: 140px;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background: #f5c518;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease;
}

.movieCard:hover .img1 {
  transform: scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5;
}

.movieCard:hover .img2 {
  transform: translate(0px, 150px);
  transform-origin: -20px 200px;
}

.movieCard:hover .text {
  opacity: 0.85;
  transform: rotate(0deg);
}

.movieCard:hover .rating {
  transform: translate(0);
}

.movieCard .rating img {
  width: 15px;
}