.search {
    background-color: transparent;
    border: 2px solid #222;
    border-radius: 15px;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5 rem 1.5rem;
}

.search:active {
    outline: 0;
}