.Board
{
  background-color: #61dafb;
  width: 250px;
  height: 250px;
  border: 10px groove black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items:center;
  align-items: center;
  box-sizing: content-box;

}


.Board-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
